#header {
    color:darkgreen;
}

h1, h3 {
    text-align: center;
    font-family: Georgia;
}

div > ul {
    color: teal;
}

img {
    float: left;
    padding-right: 15px;
    padding-bottom: 15px;
}

p {
    line-height: 25px;
}

#thisLink {
    text-decoration: none;
}
#thisLink:hover {
    text-decoration: underline;
}

#para {
    text-transform: uppercase;
}