html {
    background: url("https://images.unsplash.com/photo-1482881497185-d4a9ddbe4151?ixid=MnwxMjA3fDB8MHxzZWFyY2h8NXx8c2FuZHxlbnwwfHwwfHw%3D&ixlib=rb-1.2.1&auto=format&fit=crop&w=600&q=60") no-repeat center center fixed;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
}
a {
    text-decoration: none;
    color: black;
    font-size: x-large;
    text-shadow: 1px 1px darkslategrey 
}
a:hover {
    text-decoration: underline wavy;
    color: firebrick;
}

.about-container {
    display: grid;
    height: 100vh;
    grid-template-columns: 2fr 2fr 2fr 2fr;
    grid-template-rows: 0.5fr 2fr 2fr 1fr 0.5fr;
    grid-template-areas:
    "nav nav nav nav"
    "header main main main"
    "sidebar sidebar sidebar sidebar"
    "cont1 cont1 cont2 cont2"
    "footer footer footer footer";
}

nav {
    grid-area: nav;
    text-align: center;
    font-family: "Special Elite", sans-serif;
}
header {
    grid-area: header;
}
header > h2 {
    font-size: x-large;
    text-align: center;
    font-family: "Gloria Hallelujah", sans-serif;
    text-shadow:
    0 0 7px brown,
    0 0 10px brown,
    0 0 21px brown,
    0 0 42px gold,
    0 0 82px firebrick,
    0 0 92px gold,
    0 0 102px gold,
    0 0 151px firebrick;
}
header > img {
    border-radius: 50%;
    margin-left: 40%;
    padding: 0;
    box-shadow:
    0 0 7px brown,
    0 0 10px brown,
    0 0 21px brown,
    0 0 42px gold,
    0 0 82px firebrick,
    0 0 92px gold,
    0 0 102px gold,
    0 0 151px firebrick;
}
main {
    grid-area: main;
    display: block;
    color: darkslateblue;
    background: burlywood;
    text-align: center;
    opacity: 70%;
    border-radius: 5%;
    color: rgb(56, 34, 16);
    margin-left: 30%;
    margin-top: 5%;
}
main > h2 {
    text-align: center;
    font-family: "Gloria Hallelujah", sans-serif;
    font-size: 25px;
    color: rgb(56, 34, 16);
}
.sidebar {
    grid-area: sidebar;
    background: transparent;
    display: flex;
    margin-top: 5%;
    align-items: center;
    justify-content: center;
}
.sidebar > img {
    animation: bounce 0.8s;
    animation-direction: alternate;
    animation-iteration-count: infinite;
    border-radius: 50%;
}
@keyframes bounce { 
    0% { transform: translateY(0); }
    100% { transform: translateY(-10px); }
  }
.cont1 {
    grid-area: cont1;
    background: transparent;
    text-align: center;
}
.cont1 > h1 {
    font-family: Bebas Neue, sans-serif;
    font-size: 50px;
}
.cont1 > table {
   margin-left: auto;
   margin-right: auto;
   color: darkslateblue;
   background: burlywood;
   text-align: center;
   border-radius: 5%;
   color: rgb(56, 34, 16);

}
.cont2 {
    grid-area: cont2;
    background: burlywood;
    border-radius: 5%;
    opacity: 70%;
    font-family: Bebas Neue, sans-serif;
    font-size: xx-large;
    text-align: center;
    margin-bottom: 10%;
}
footer {
    grid-area: footer;
    background: khaki;
    text-align: center;
    border-radius: 5%;
    font-family: Bebas Neue, sans-serif;
}
footer > a {
    font-size: medium;
    font-family: Special Elite, sans-serif;
}
@media only screen and (min-device-width: 320px) and (max-device-width: 960px) {
    .about-container { 
        grid-template-columns: 1fr;
        grid-template-rows: 1fr 1fr 2fr 2fr 1fr 1fr 1fr;
        grid-template-areas: 
        "nav"
        "header"
        "main"
        "sidebar"
        "cont1"
        "cont2"
        "footer";
    }
 }
 /*Tablet*/
 @media only screen and (min-device-width: 961px) {
    .about-container { 
         grid-template-columns: 0.5fr 1fr 1fr 1fr;
         grid-template-rows: 0.5fr 1fr 0.5fr 0.5fr;
         grid-template-areas: 
         "nav nav nav nav"
         "header header header header"
         "main main main main"
         "sidebar sidebar cont1 cont2"
         "sidebar sidebar cont1 cont2"
         "footer footer footer footer";
     }
  }
  /*Laptop*/
  @media only screen and (min-device-width: 1025px){
    .about-container { 
        grid-template-columns: 2fr 2fr 2fr 2fr;
        grid-template-rows: 0.5fr 2fr 2fr 1fr 0.5fr;
        grid-template-areas:
        "nav nav nav nav"
        "header main main main"
        "sidebar sidebar sidebar sidebar"
        "cont1 cont1 cont2 cont2"
        "footer footer footer footer";
     }
  }